name: Build

on:
  [push]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: jwlawson/actions-setup-cmake@v1.13
        with:
          build-version: 3.22.0
      - run: cmake -B build -G Ninja
      - run: cmake --build build
      - run: cp lib.default lib
      - run: build/fierymud --check
